@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;900&display=swap");

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  background: #ecf0f3;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  font-family: "Poppins", sans-serif;
}

input {
  caret-color: red;
}

.input-group {
  width: 350px;
}

.app-container {
  position: relative;
  width: 400px;
  height: 600px;
  border-radius: 20px;
  padding: 20px;
  box-sizing: border-box;
  background-image: url("https://img.freepik.com/free-vector/realistic-abstract-technology-particle-background_23-2148431263.jpg?t=st=1715171256~exp=1715174856~hmac=fdae272dca716692634ae402c900c8ff68e4a08957ef481a136ed616c1e6ec0a&w=826");
  background-size: cover;
  background-position: center;
  background-color: rgba(
    255,
    255,
    255,
    0.7
  ); /* Semi-transparent white background */
  box-shadow: 4px 4px 10px #cbced1, -1px -1px 10px #b2b2db;
}

.app-title {
  text-align: left;
  margin-top: 30px;
}

label,
input {
  display: block;
  width: 100%;
  border: none;
  outline: none;
  box-sizing: border-box;
}

.dropdown-menu {
  padding: 15px;
  background: rgba(255, 255, 255, 0.9); /* Semi-transparent white background */
  cursor: pointer;
  /* box-shadow: 14px 14px 20px #cbced1, -1px -1px 20px white; */
}

.dropdown-menu li:hover {
  padding: 5px 10px;
  background-color: #cbced1;
  border-radius: 5px;
}

label {
  margin-bottom: 4px;
}

label:nth-of-type(2) {
  margin-top: 12px;
}

input::placeholder {
  color: white;
}

input {
  background: rgba(255, 255, 255, 0.5); /* Semi-transparent white background */
  padding-left: 10px;
  height: 45px;
  font-size: 14px;
  border-radius: 50px;
  box-shadow: 3px 3px 3px #6667ab, inset -1px -1px 1px white;
}

.form-control {
  background-color: #e3e5e8;
  height: 35px;
}

.btn {
  color: white;
  border: none;
  height: 35px;
  background-color: rgba(
    204,
    41,
    54,
    0.7
  ); /* Semi-transparent red background */
}

button {
  color: white;
  margin-top: 5px;
  background: rgba(204, 41, 54, 0.7); /* Semi-transparent red background */
  height: 40px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  font-weight: 900;
  box-shadow: 3px 3px 1px #6667ab, -1px -1px 1px gray;
  transition: 0.5s;
}

button:hover {
  box-shadow: none;
}

.submit-button {
  padding: 10px 40px;
  height: 45px;
  cursor: pointer;
  transition: background-color 0.3s;
}
